.button,
.activebutton {
    background-color: transparent;
    width: 8rem;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.button {
    border: 2px solid var(--primary);
    color: var(--primary);
}

.activebutton {
    border: 2px solid var(--secondary);
    color: var(--secondary);
}
.button:hover {
    background-color: var(--secondary);
}
