.container {
    width: 15rem;
    height: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title{
    color: var(--secondary);
    font-size: x-large;
    font-weight: bold;
}
