.container{
    width: 100%;
    height: 50dvh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
}
.background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;   
}

.content{
    width: calc(100% - 2rem);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 1rem;
    ;
}


.card{
    display: flex;
    position: relative;
    overflow: hidden;
}

.imageCourse{
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;
}
.descriptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: var(--text);    
}